<div class="chapters">

    <div class="container">
      <!--First Card Service 1 -->
        <div class="column ahmed">
            <div class="card">
               <a href="service-1.html">
                   <h2 class="black size-20  w-700">
                 {{>md-files/service-1/01_service1-name}}

                   </h2>
                 
                  <div class="is-flex is-align-items-center	">
                       <div class="black size-16 w-500">

                          {{>md-files/service-1/01_service1-title-short-desc}}
                           </div>
                   <img src="imgs/arrow-left.svg" alt="">
                  </div>
               </a>
            </div>
        </div>
         <!--Second  Card Service 2-->
              <div class="column">
            <div class="card">
               <a href="service-2.html">
                    <h2 class="black size-20  w-700">
                 {{>md-files/service-2/02_service2-name}}

                   </h2>
                  <div class="is-flex is-align-items-center	">
                       <div class="black size-16 w-500">

                          {{>md-files/service-2/02_service2-title-short-desc}}
                           </div>
                   <img src="imgs/arrow-left.svg" alt="">
                  </div>
               </a>
            </div>
        </div>
        <!--end card service 2-->

         <!--third  Card Service 3-->
   
      

       
     
 <!--third  Card Service 3-->


    </div>
</div>