<div class="hero-vacancies">
   <div class="container">
       <div class="hero-vacancies__content">
           <div class="columns">
               <div class="column">
                   <div class="image">
                    <img src="imgs/vacancies.jpg" alt="">
                   </div>

               </div>
               <div class="column">
                   <div class="text">
                       <span class="label career">Career</span>
                       <h2 class="has-text-white size-54 w-700">Join the team</h2>
                       <p class="has-text-white	size-20">
                           We believe that results become more effective when every member of the team trusts in our values. This is more important than competences. Driven by our values, we integrate engineering excellence with our values that drive our business and approach to relationships: hurdworking, trust, consistent approaches, love to learn, help industry, think outside of the box. We trust in Rust.

                       </p>

                   </div>

               </div>
           </div>
       </div>

   </div>
</div>
    
<div class="vacancies-tabs">
    <div class="vacancies-tabs__content">
        <div class="headings">
       <p>Value</p>
     <div class="list">
           <p class="preview-item">
               <span>Work hard </span>
               <i class="fas fa-chevron-down"></i>
           </p>
       <ul>
           <li>Work hard </li>
           <li>Trust </li>
           <li>Consistent approaches</li>
           <li>Love to learn</li>
           <li>Help industry and society </li>
            <li> Think outside of the box</li>
       </ul>
     </div>
      <div class="btn-group">
           <button type="button">
           Next
       </button>
      </div>
        </div>
        <div class="preview monospace">
           <div class="active">
               {{>md-files/values/work-hard}}
           
           </div>
           <!-- TRUST -->
         <div >
         {{>md-files/values/trust}}
           </div>
            <!-- TRUST -->

             <!--  Consistent approaches -->
              <div>
      {{>md-files/values/Consistent}}
           </div>
              <div>
           {{>md-files/values/love-to-learn}}
           </div>
              <div>
         {{>md-files/values/Help-industry}}
           </div>
           <div>
        {{>md-files/values/think-outside}}
           </div>
        </div>

    </div>

 
</div>

    