<div class="faq space-font">
    <div class="container">
        <h2 class="space-font  has-text-black	 has-text-centered size-54 has-text-weight-bold	">FAQ</h2>
        <div class="faq-list ">
            <ul>
                <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">Where is Out of the Box Systems located?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >Out of the Box Systems has a corps of folks in Ukraine, but all of the company is remote.</div>
                </li>


    <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                            Are you okay with remote employment?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                   Yes!  We grow the team and we expect the team to be remote.

                    </div>
                </li>
        <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                            What is work/life balance like at Out of the Box Systems?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                   We take work seriously. Work is important to us. But at the same time, we understand that family is more important than work. Also we appreciate the free time of our workers and expect that everyone has a life outside work.


                    </div>
                </li>
        
            <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                            What do you look for in candidates?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                   Every position in our team is unique. Therefore, if you want to get acquainted with the requirements for the candidate, you can read it in the job description.
                   If you are looking for a job for a month or two, then you are not up to us. We are focused on long-term cooperation.  



                    </div>
                </li>


            <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                            How does the employment process take place?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                   Here you are our core steps of the employment process:
                   If you have relevant experience, you will be able to pass:

                   <ul>
                       <li>- Technical task (in the form of the test)</li>
                       <li>- Non-technical interview</li>
                       <li>- Technical interview </li>
                       <li>- Probationary period: 1-1.5 months</li>
                       <li>- The main work</li>
                   </ul>




                    </div>
                </li>



                        <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                            Is it possible to try to pass the test a second time?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                  Yes, you can retake the test in a month. If you have improved your knowledge and are confident in your technical skills, you will be able to take the test again.
                    </div>
                </li>

                         <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                           How can I prepare for the test?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                  Be as transparent as humanly possible.Be yourself, soberly assess your capabilities, answer openly.
Also we recommend that you review the list of learning materials 📚 for mastering
<a target="_blank" href="https://github.com/Learn-Together-Pro/LearnRustTogether#star-general-purpose-courses">RUST</a> 

                    </div>
                </li>



                    <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                          What benefits do you have?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                  We can give you the fast growth of knowledge and practical skills, consistent salary growth, skills on how to be productive, help with learning and advancing in your career. You’ll get a reliable long-term remote job, regular feedback on your work.
With us you’ll get the opportunity to become part of the global economy and get independence from the local market.


                    </div>
                </li>


                            <li x-data="{ open: false  }" x-on:click="open = ! open" >
                    <div class="is-flex is-align-items-center	is-justify-content-space-between">
                        <span class="has-text-weight-bold	 size-20" :class="open ? 'color' : ''">
                          Are you open to bringing on interns?</span>
                        <i class="fas fa-arrow-right " :class="open ? 'trans' : ''"></i>
                    </div>
                    <div x-show="open" class="black w-500" >
                  We are open to sharing knowledge. So you can get into a mentoring program. We also value our time, so you get into this program after testing your skills and passing a non-technical interview. These steps will help us understand the seriousness of your intentions.

                    </div>
                </li>














































               
            </ul>
        </div>
    </div>
</div>