<div class="hero-area">
    <div class="container">
        <div class="hero-area__content">
            <h1  class="has-text-white	">
                <p>Out of the Box</p>
                <p>Systems</p>
                </h1>
        </div>
    </div>
</div>