<div class="blog">
   <div class="hero-service">
      <img src="imgs/hero-service-left.svg" alt="" class="imge-left-side">
      
      <div class="container">
         <div class="hero-service__content is-flex is-flex-direction-column	is-align-items-center">
            <p class="label has-text-white has-text-weight-semibold	">Blog</p>
            <h1 class="size-54 w-700 black has-text-white">
               Our team collects the most <br/> up-to-date information about the Rust programming language here.
            </h1>
         </div>
      </div>
   </div>
   <div class="main-cards">
      <div class="container">
         <div class="cards-blog">
            <div class="card-blog">
            <a href="post-one.html">
                   <div class="text">
               {{>md-files/post-one/short-desc}}
               </div>
               <div class="img">
                  <img src="imgs/post-one.png" alt="">
               </div>
            </a>
            </div>
            <div class="card-blog ">
           <a href="post-two.html">
                <div class="text">
              {{>md-files/post-two/short-desc}}
               </div>
               <div class="img">
                  <img src="imgs/post-two.png" alt="">
               </div>
           </a>
            </div>
         </div>
      </div>
   </div>
 
</div>

