<div class="footer">
    <h2 class="h2-title has-text-white">Let's see some code.</h2>
    <div class="call-to-actions is-flex is-justify-content-center	">
        <div class="buttons">
  <a href="https://github.com/Wandalen/wTools " class="button primary ibm-font has-text-white	">Try Cloud</a>
  <a href=" https://docs.rs/wtools/latest/wtools/"   class="button link ibm-font has-text-white	">Read the docs</a>
</div>
    </div>
  <div class="is-flex is-justify-content-space-between 	container-social">
        <div class="copy-right">
        <p class="has-text-white	size-14 ibm-font">© <span class="update-date">2022</span> Out of the box Security, Inc.</p>
    </div>
    <div class="social-link is-flex">
        <a href="https://twitter.com/LearnTogetherP">
            <i class="fab fa-twitter has-text-white"></i>
        </a>
        <a href="https://www.linkedin.com/company/learn-together-pro" target="_blank">
            <i class="fab fa-linkedin-in has-text-white"></i>
        </a>
        <a href="https://github.com/Learn-Together-Pro" target="_blank">
            <i class="fab fa-github has-text-white"></i>
        </a>
        <a href="https://discord.com/invite/JVCZfTVf5A" target="_blank">
            <i class="fab fa-discord has-text-white"></i>
            
        </a>
    </div>
  </div>
  <div class="subscribe-form is-flex is-justify-content-end	">
      <form action="" class="is-flex is-align-items-center	">
        <div class="dummy-mailto">
 <input class="input email-input" type="email" placeholder="Email Address">
 <a href = "mailto:{{mail}}?subject = Feedback&body = Message"></a>
        </div>
         

<a href = "mailto:{{mail}}?subject = Feedback&body = Message"   class="submit-btn ibm-font">Contact us</a>
      </form>
  </div>
</div>






