<p class="main-title-post"># Rust + vim? </p>

<ul class="description-list">
<li>❓ Rust + vim</li>
<li>📌 Neovim is a branch of vim that focuses on scalability and usability.  An example of this is the ability to use Lua instead of VimL for plugins, which provides more flexibility for the editor extension. In the 0.5 release of Neovim, the developers have introduced an Language Server Protocol (LSP) client framework (:help lsp)

</li>
</ul>
<ul class="list-full-desc-post">
<li>📌 This means Neovim can act as a client to LSP servers (like rust-analyzer) and assist in building enhanced LSP tools.
</li>
<li>
📌 LSP facilitates programming language specific features such as go-to-definition, completion, refactoring, formatting, etc. The goal of LSP is to separate language support and the editor.
</li>
<li>
📌 So 🔎 how do we configure Neovim LSP with rust-analyzer? Simple! Go to study the details:
</li>
</ul>
<a href="#">✅ https://sharksforarms.dev/posts/neovim-rust/ </a>
<a href="#">✅ https://github.com/sharksforarms/neovim-rust </a>