<div class="current-opening">
    <div class="container">
        <h2 class="h2-title has-text-white current-title">Current Openings</h2>
        <h3 class="current-sub-title size-20 has-text-white has-text-centered has-text-weight-medium">
            If you don't see a fit below, feel free to drop us a line at <a class="yellow " href="mailto:aply@obox.systems">aply@obox.systems</a></h3>
        <div class="jobs-card">
            <!--NEW VACANCIES-->
            <a target="_blank" href="job-rust.html" class="card is-flex is-align-items-center is-justify-content-space-between	">
               <div class="has-text-weight-semibold	">
                <h3 class="has-text-white size-24 mb-2">{{>md-files/jobs/title-job-1}}</h3>
                <h4 class="has-text-white ">{{>md-files/jobs/desc-job-1}}</h4>
               </div>
               <div>
                   <i class="fas fa-arrow-right has-text-white"></i>
               </div>
            </a>
            <!--NEW VACANCIES-->
          
        </div>
    </div>
</div>
