<!DOCTYPE html>
<html lang="en">
{{> main-header/mainheader}}
<body>
   {{>nav/nav}}

   
     {{>hero-area/hero}}
      {{>work-with-us/work-with-us}}


{{> footer/footer}}

<script src="js/file.js"></script>
</body>

</html>
