<!DOCTYPE html>
<html lang="en">
{{> main-header/mainheader}}
<body>
    <div class="post">
   {{>nav/nav}}

      <div class="hero-service">

      <div class="container">
         <div class="hero-service__content">
             {{>md-files/post-one/full-desc}}
           
         </div>
      </div>
   </div>
     


{{> footer/footer}}
    </div>


<script src="js/file.js"></script>
</body>

</html>