<!DOCTYPE html>
<html lang="en">
{{> main-header/mainheader}}
<body class="vacancies-page">
   {{>nav/nav}}

    {{>hero-vacancies/hero-vacancies}}

    {{>current-opening/current-opening}}
    
    {{>faq/faq}}

    
      


{{> footer/footer}}
<script src="js/file.js"></script>
</body>

</html>