     <div class="column is-one-quarter-desktop ">
             <div class="Get-subscrbe">
                  <h3 class="size-30 w-700 line-height-one has-text-centered">Get Update from US</h3>
                 <form action="">
                    
                    <div class="dummy-mailto">
                          <input  class="email-input" type="text" placeholder="Email Address">
                           <a href = "mailto:{{mail}}?subject = Feedback&body = Message"></a>
                    </div>
                    
                     <a href = "mailto:{{mail}}?subject = Feedback&body = Message"   class="submit-btn ibm-font ">Contact us</a>
                   
                 </form>
                   <p class="size-14">We won't spam you. Ever.</p>
             </div>
        </div>