<div class="all-work-with-us">
    <div class="work-with-us">
    <div class="container">
        <h2 class="h2-title">In Out of the Box Systems we:</h2>
 
    </div>
<div class="work-with-us__quality">
 <div class="container">
            <div class="columns ">
 <div class="column is-half-desktop  ">
 <div class="description">
      <h3 class="h3-title-work">Overdelivery: work hard and do our best on 150%</h3>
  <p class="txt-work">Work is an important part of the lite of every member of our team. Tnis is one of the key principles that we use to recruit people to our team. </p>
 </div>
  </div>
  <div class="column is-half-desktop  image">
      
  </div>
 </div>
  
        </div>
    </div>

</div>
<div class="work-with-us">
  
               <div class="work-with-us__transparency">
 
            <div class="columns ">
 
  <div class="column is-half-desktop  image">
      
  </div>
  <div class="column is-half-desktop ">
 <div class="description"style="padding: 30px">
      <h3 class="h3-title-work"style="margin-left: -60px"> <a href="https://blog.dtssydney.com/the-no1-responsibility-of-a-leader-trust">Trust</a> each other and the customer</h3>
  <p class="txt-work">Trust always affects two outcomes — speed and cost. When trust is LOW the speed of doing business slows down and the cost goes up. Conversely, when trust is HIGH the speed of doing business accelerates and the cost falls. We use in our work the second model. In our view, trust is based on transparency.

</p>
 </div>
  </div>
 </div>
  
      
    </div>

</div>
<div class="work-with-us">
   
<div class="work-with-us__Reliability">
 <div class="container">
            <div class="columns ">
 <div class="column is-half-desktop ">
 <div class="description">
      <h3 class="h3-title-work">Stick consistent approaches</h3>
  <p class="txt-work">
      We use the best practices in developing our products which include <a href="https://en.wikipedia.org/wiki/Test-driven_development">TDD
      </a> principle. As you know the lifetime of the code without testing is one year. So, we agree that maintenance of software is cheaper than its  redevelopment. Also we use the best tools to solve problems.
 </div>
  </div>
  <div class="column is-half-desktop image">
      
  </div>
 </div>
  
        </div>
    </div>

</div>
<div class="work-with-us">
  
               <div class="work-with-us__flexibilty">
 
            <div class="columns ">
 
  <div class="column is-half-desktop  image">
      
  </div>
  <div class="column is-half-desktop ">
 <div class="description"style="padding: 30px">
      <h3 class="h3-title-work"style="margin-left: -60px">Love to learn and share knowledge with each other and with society
</h3>
  <p class="txt-work">
      We create connections between knowledge and people. We like studying and sharing our knowledge. That is why members of our team organize and participate in educational initiatives such as workshops, hackathons, webinars etc. Also we have created an online community where everyone who wants to get answers from our field is heard.

</p>
 </div>
  </div>
 </div>
  
      
    </div>

</div>



<div class="work-with-us">
  
               <div class="work-with-us__industry">
                   <div class="container">

                   
 
            <div class="columns ">
 

  <div class="column is-half-desktop ">
 <div class="description">
      <h3 class="h3-title-work">Help ecosystem and society when we can do it</h3>
  <p class="txt-work">
      We consider ourselves a part of the society that accepts a wider responsibility towards each other, the communities in which we operate, and the planet we all live on.


</p>
 </div>
  </div>
    <div class="column is-half-desktop  image">
      
  </div>
 </div>
  </div>
      
    </div>

</div>


<div class="work-with-us">
        
                     <div class="work-with-us__think">
       
                  <div class="columns ">
       
        <div class="column is-half-desktop  image">
            
        </div>
        <div class="column is-half-desktop ">
       <div class="description"style="padding: 30px">
            <h3 class="h3-title-work"style="margin-left: -60px">Think outside the box

      </h3>
        <p class="txt-work">
            We consider ourselves a part of the society that accepts a wider responsibility towards each other, the communities in which we operate, and the planet we all live on.
      
      </p>
       </div>
        </div>
       </div>
        
            
          </div>
      
      </div>




</div>
