<div class="hero-service">
    <img src="imgs/hero-service-left.svg" alt="" class="imge-left-side">
     <img src="imgs/hero-service-right.svg" alt="" class="imge-right-side">
    <div class="container">
        <div class="hero-service__content is-flex is-flex-direction-column	is-align-items-center">
            <p class="label has-text-white has-text-weight-semibold	">Services</p>
            <h1 class="size-54 w-700 black">Out of the Box
                <span class="is-block">Systems</span>
            </h1>
           
        </div>
    </div>
</div>