<p>Visual automated testing of a WebGL/WebGPU web application and its UI is a complex problem to solve. There are several obstacles to overcome to reach the goal:</p>
<ul>
<li>-&nbsp;headless run with GPU capabilities enabled</li>
<li>-&nbsp;synchronizing and gathering reports in a cloud</li>
<li>-&nbsp;robust analysis of screenshots or better-avoiding screenshots</li>
<li>-&nbsp;getting high performance despite extra restrictions visual testing imply</li>
<li>-&nbsp;performance testing and benchmarking</li>
</ul>
<h3 class="w-500 size-20 p-15 black">Some technologies we use to solve such kinds of problems:</h3>

<ul>
<li>-&nbsp;Chrome remote protocol</li>
<li>-&nbsp;Puppeteer</li>
<li>-&nbsp;OpenCV if required</li>
<li>-&nbsp;TensorFlow if required</li>
<li>-&nbsp;BrowserStack if required</li>
<li>-&nbsp;GitHub Workflows if required</li>
<li>-&nbsp;GitHub Workflows if required</li>
<li>-&nbsp;CircleCI if required</li>
</ul>
