<p class="orange"> <span class="has-text-white">#</span> 
Help industry and society when we can do it</p>
<p class="violet has-text-weight-bold    monospace"><span class="has-text-white">**</span>
Developers have an outsize impact on the
society because so much of our world is automated.<span class="has-text-white">**</span></p>


<ul>
<li> 
<span>-</span> 
<span>
Help in getting interaction between people and machines. 
</span>
</li>

<li>
<span>-</span>
<span>
Make hard things easy.
</span>
</li>
<li>
<span>-</span>
<span>
Іdeas implemented by developers improve the life of society.
</span>
</li>

</ul>