<div class="whole-description">
    <div class="container">
      <div class="columns is-desktop">
            <div class="column services-label">
        <a href="services.html" class="w-600 label-services has-text-white">Services</a>
        </div>
        <div class="column is-two-thirds-desktop size-18 middle-desc">
     <div class="middle-desc__content">
          <h2 class="size-40 w-700 line-height-one main-desc">
             {{>md-files/service-2/02_service2-name}}
            
            </h2>
     
        {{>md-files/service-2/02_service2-full-dec}}
          

      
    
      

      </div>
        </div>
   {{>Get-us}}
      </div>
      <div class=" gallery-photos">
          <div class="gallery">
  
 <div id="modal-js-example-one" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/service-2nd.png" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-one">
 <img src="imgs/service-2nd.png" alt="">
</a>
             
          </div>


          <div class="gallery">
  
 <div id="modal-js-example-two" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 2_2.jpeg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-two">
 <img src="imgs/Service 2_2.jpeg" alt="">
</a>
             
          </div>


                    <div class="gallery">
  
 <div id="modal-js-example-three" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 2_3.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-three">
 <img src="imgs/Service 2_3.jpg" alt="">
</a>
             
          </div>
   <div class="gallery">
  
 <div id="modal-js-example-four" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 2_4.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-four">
 <img src="imgs/Service 2_4.jpg" alt="">
</a>
             
          </div>

   <div class="gallery">
  
 <div id="modal-js-example-five" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 2_5.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-five">
 <img src="imgs/Service 2_5.jpg" alt="">
</a>
             
          </div>
          

  








      </div>
    </div>
</div>