<div class="whole-description">
    <div class="container">
      <div class="columns is-desktop">
            <div class="column services-label">
          <a href="services.html" class="w-600 label-services has-text-white">Services</a>
        </div>
        <div class="column is-two-thirds-desktop size-18 middle-desc">
      <div class="middle-desc__content">
          <h2 class="size-40 w-700 line-height-one main-desc">
             {{>md-files/service-1/01_service1-name}}
            
            </h2>
        {{>md-files/service-1/01_service1-title-short-desc}}
        {{>md-files/service-1/01_service1-full-dec}}
          

      
    
      

      </div>
        </div>
   
    
    <div>
      



</div>
{{>Get-us}}

      </div>
      <div class=" gallery-photos">
          <div class="gallery">
  
 <div id="modal-js-example-one" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 1_3.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-one">
 <img src="imgs/Service 1_3.jpg" alt="">
</a>
             
          </div>
                    <div class="gallery">
  
 <div id="modal-js-example-two" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/service-one.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-two">
 <img src="imgs/service-one.jpg" alt="">
</a>
             
          </div>
<div class="gallery">
  
 <div id="modal-js-example-three" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 1_5.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-three">
 <img src="imgs/Service 1_5.jpg" alt="">
</a>
             <button class="view-full">View Full </button>
          </div>
          <div class="gallery">
  
 <div id="modal-js-example-four" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <img src="imgs/Service 1_4.jpg" alt="">
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-four">
 <img src="imgs/Service 1_4.jpg" alt="">
</a>
             
          </div>

         <div class="gallery">
  
 <div id="modal-js-example-five" class="modal modal-photos">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
    <video width="500" height="500" controls>
  <source src="imgs/video.mp4" type="video/mp4">
  
  
</video>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
<a href="#" class="js-modal-trigger" data-target="modal-js-example-five">
    <video width="500" height="500" controls>
  <source src="imgs/video.mp4" type="video/mp4">
  
  
</video>
</a>
             
          </div>








      </div>
    </div>
</div>